@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'Urdwin';
  src: url('./fonts/URWDINCond-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-book';
  src: url('./fonts/Gotham-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-mid';
  src: url('./fonts/Gotham-Medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-header {
  font-family: 'Urdwin', Arial, sans-serif ;
}

.text-shadow {
  text-shadow: #F3F3F680 1px 0 10px;
}

.text-bg {
  background-image: url('/images/text-bg-img.png');
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 0.2rem;
}

.bg-contact-gradient {
  background: linear-gradient(to bottom, #000000, #11121300);
}

.standards-bg {
  background-image: url('/images/standards-img.png');
  background-repeat: repeat;
  background-size: cover;
}

.colorInput:focus-visible {
  outline: none;
}

.colorInput:focus-visible::placeholder {
  opacity: 0;
}

.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  background-color: #f3f3f6;
  /* margin: 0.2rem; */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 75%;
  height: 75%;
  border-radius: 100%;
}

/* .checkmark-container input:checked ~ .checkmark:after {
  background-color: #f3f3f6;
  margin: 0.2rem;
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
} */

/* .checkmark-container:hover input ~ .checkmark {
  background-color: #ccc;
} */



.card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.drag-icon {
  animation: slide ease-out 1s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  
  50% {
    transform: translateX(-5px);
  }
  
  100% {
    transform: translateX(0);
  }
}

/* 
.card:hover .card-inner {
  transform: rotateY(180deg);
} */

.front-face, .back-face {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.pin-spacer {
  /* padding-bottom: 0 !important; */
  /* margin-bottom: -300px !important; */
  /* max-height: max-content !important; */
}


@media screen and (min-width: 1024px) { 
  .footer {
    background-image: url('/images/footer-bricks.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }
}

@media screen and (max-width: 1023px) { 
  .bg-contact-gradient {
  background: none;
}
  .bg-contact-gradient-mobile {
  background: linear-gradient(to bottom, #000000, #11121300);
}


.footer {
  background-image: url('/images/footer-bricks-mobile.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
}
}